<!--check enable-menu-with-back-views="false", ask why show-delete=true-->
<ion-view view-title="Schedule" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Assignments</h1>
		<div class="buttons">
			<button class="button" ng-click="toggleShowReorder()">Reorder</button>
		</div>
	</ion-header-bar>
	
	<ion-content> <!--check class="padding"-->
		<ion-list show-reorder="getReorder().show">
			<!-- There are some issues with collection-repeat and reordering: Drag any item below the first into first item to see-->
			<!--<ion-item collection-repeat="item in schedules" ng-style="{'background-color':item.classId}">-->
			<ion-item ng-repeat="item in schedules" ng-style="{'background-color':item.classId}">
				{{item.label}}
				<br />
				<strong>Due: {{item.time | date: "MMM d"}}</strong>
				
				<!--need to update all styles into css file to make this easier to manage-->
				<span style="float:right; padding-right: {{getReorder().pad}}%; width:50%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap">
					{{item.note}} <!--look how to popup text input or similar-->
				</span>
				<ion-reorder-button class="ion-navicon"
					on-reorder="moveItem(item, $fromIndex, $toIndex)">
				</ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
