<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content scroll="false">


    <ion-slide-box>

       <ion-slide>
          <div class = "box gradeAve">
            <canvas id="line" class="chart chart-line" chart-data="grades"
              chart-labels="labels" chart-legend="true" chart-series="series"
              height="250"
              chart-click="onClick" >
            </canvas>
          </div>
       </ion-slide>

       <ion-slide>
          <div class = "box gradeAll">
            <canvas id="polar-area" class="chart chart-polar-area"
             chart-data="grades" chart-labels="labels"
              height="250" >
            </canvas>
          </div>
       </ion-slide>
    </ion-slide-box>



  <ion-list>
    <ion-item style="border-color:#387ef5">
      <div class="row">
        <div class="col"> Name </div>
        <div class="col"> </div>
        <div class="col"> Score </div>
      </div>
    </ion-item>
    <ion-scroll direction="y" style="height:150px" >
    <ion-item collection-repeat = 'your in yours'>
      <div class="row">
        <div class="col" > {{labels[$index]}} </div>
        <div class="col"> </div>
        <div class="col"> {{your}} </div>
      </div>
    </ion-item>
  </ion-scroll>
  </ion-list>
  </ion-content>
</ion-view>
