<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <canvas id="line" class="chart chart-line" chart-data="grades"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
    </canvas>

  <ion-list>
    <ion-item collection-repeat = 'your in yours'>
      <div class="row">
        <div class="col" > {{labels[$index]}} </div>
        <div class="col"> </div>
        <div class="col"> {{your}} </div>
      </div>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
