<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding">
   	<ion-list show-delete= true>
      <div class="card" ng-repeat="schedule in schedules">
          <div class="item item-divider" style="background-color:#add8e6">
              <div style="font-size:20px">{{schedule.name}} ({{schedule.parent.name}})</div>
          </div>
          <div class="item item-text-wrap">
              <p/>
              <strong>Time: &nbsp; {{schedule.dueDate | date}}</strong>
          </div>
      </div>
   </ion-list>
  </ion-content>
</ion-view>
