<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding">
   	<ion-list show-delete= true>
      <div class="card" ng-repeat="schedule in schedules">
          <div class="item item-divider" style="background-color:{{schedule.classId}}">
              <div style="font-size:20px; display:inline">
				{{schedule.label}}
			  </div>
          </div>
          <div class="item item-text-wrap">
              <p/>
              <strong>Time: &nbsp; {{schedule.time | date:"MMM d"}}</strong>
			  <span style="float:right">
				  {{schedule.note}}
			  </span>
          </div>
      </div>
   </ion-list>
  </ion-content>
</ion-view>
