<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding">
   	<ion-list show-delete= true>
      <div class="card" ng-repeat="schedule in schedules">
          <div class="item item-divider" style="background-color:{{schedule.classId}}">
              <div style="font-size:20px; display:inline">
				{{schedule.label}}
				<span style="float:right">
					{{schedule.difficulty}}
					<!--add button to the right to increase difficulty-->
					<!--prolly better to create a class which defines this positioning-->
					<span ng-click="plusOne($index)">+</span>
					<span ng-click="minusOne($index)">-</span>
				</span>
			  </div>
          </div>
          <div class="item item-text-wrap">
              <p/>
              <strong>Time: &nbsp; {{schedule.time | date:"MMM d"}}</strong>
			  <span style="float:right">
				  {{schedule.note}}
			  </span>
          </div>
      </div>
   </ion-list>
  </ion-content>
</ion-view>
